

<!-- wrapper starts -->
<div class="wrapper">
	<script>
/*$(document).ready(function() {
	$(".login").fancybox({
		maxWidth	: 800,
		maxHeight	: 600,
		fitToView	: false,
		width		: '70%',
		height		: '70%',
		autoSize	: false,
		closeClick	: false,
		openEffect	: 'none',
		closeEffect	: 'none'
	});
});*/
      </script>
            <!-- Header Starts -->
            <div class="header">
                   <!-- <div class="angle_list">
                        <a  href="#"><%= image_tag "angle-bg.png", alt: "Home", align: "right" %></a>
                        <div class="angle_hover">
                            <a  href="#">We’re raising on AngelList!</a>
                        </div><!--angle_hover
            		</div>-->
            	<div class="headerin">
                    <div class="icons">
                        <ul>
                            <li><a class="fbook" href="https://www.facebook.com/newappetite"></a></li>
                            <li><a class="twitter" href="https://www.twitter.com/newappetite"></a></li>
                            <li><a  class="email"href="mailto:support@newappetite.com"></a></li>
                        </ul><div class="clear"></div>
                    </div>
                    <div class="right">
                       <!-- <% if user_signed_in? %>
                        <a href="#" data-dropdown="drop" class="small primary radius button dropdown"><strong><%= current_user.email %></strong></a><br>
                            <ul id="drop" data-dropdown-content class="f-dropdown">
                                <li><%=link_to 'Edit profile', edit_user_registration_path %></li>
                                <li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
                            </ul>
                        <% else %>
                               <!-- <div class="login" href="/users/login" data-fancybox-type="ajax" ><%= link_to 'Login', new_user_session_path%></div>
                        <% end %>-->
                    </div>

                    <div class="clear"></div>
                   	<div class="logo"><a href="#"><%= image_tag "logo.png", alt: "logo" %></a></div>
                    <div id="step1">
                        <p>We are a points-based music promotion and discovery collective where you can
 build credibility while promoting music you think deserves to be heard. </p>
     					<div class="btns">
                        	<a class="learn_more" href="#learnMore"><span>Learn More &nbsp;&nbsp;<i class="fa fa-caret-down"></i></span></a>
                            <a class="get_acc" href="/users/login" id="registerBtn">Get Early Access</a>
                            <div class="clear"></div>
                        </div>
                    </div>
        		</div>
             </div>
                         <!-- Header ends -->

            <!-- maincontent Starts -->
            <a name="learnMore">
           	<div class="main_cont">
                	<div class="main_cont_in">
                    	<div class="column_blocks">
                        	<ul>
                            	<li>
                                	<%= image_tag "icon1.png", alt: "Discover" %>
                                    <span>Discover</span>
                                    <p> You get a chance to
promote music  you think
deserves to be heard.</p>
                                </li>
                                <li class="colla">
                                	<%= image_tag "icon2.png", alt: "Collaborate" %>
                                    <span>Collaborate</span>
                                    <p>Interact in a fun,
collaborative manner with
other users and artists.</p>
                                </li>
                                <li class="last">
                                	<%= image_tag "icon3.png", alt: "Promote" %>
                                    <span>Promote</span>
                                    <p>Share music that is
essential to you and
deserves attention.</p>
                                </li>
                            </ul><div class="clear"></div>
                        </div>

                        <div class="mac"><a href="#"><%= image_tag "mac-img.png", alt: "mac" %></a></div>
                    </div>
                </div>
            <!-- maincontent ends -->

            <!-- footer starts -->
            <div class="footer">
            </div>
            <!-- footer ends -->



</div>
<!-- wrapper ends -->